employeesort
*.o
.DS_Store
tags
out/
workspace.xml
misc.xml
.idea/
*.iml
Assignment7/src/wci/frontend/
Assignment7/*.j
Assignment7/*.class
Assignment7/META-INF/**
Assignment7/wci
Assignment7/Testing.java
